[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/edin/Desktop/wallpapers]
row=5
col=0

[243798355AF65D27]
row=0
col=0

[A618E34218E30FDB]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/edin]
row=4
col=0

